<a href="https://colab.research.google.com/github/EleanorNg/Data-Analysis-projects/blob/main/Kick_Off_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![Immoscout](https://raw.githubusercontent.com/juliandnl/redi_ss20/master/image.png)

# Project - Immobilien Scout 24

--- 
## The description:
Welcome to your first project! Have you heard about Immobilienscout 24?  [Immobilienscout 24](https://https://www.immobilienscout24.de/). It the biggest platform for renting appartments in Germany. The company hires data analysts and data scientists for analyzing the market data. They are especially interested in the Berlin market. The company wants to understand where to publish advertisment.

--- 
## The dataset:
The datasets contains information about rental appartments in Berlin. 
One row is for one appartment. The dataset contains 6 columns.  
- Region: is the Berlin district, where the flat is located
- Condition: is the condition of the flat
- Rooms: The number of rooms the flat has
- Rent: Monthly rent for the flat
- Year_Construction: The year in which the house was build
- Space: How many square meters does the flat has?

--- 
## The Task:
1. What kind of information do we have?
2. In which conditions are the flats?
3. Where are the appartments located?

Bonus Questions:
4. What is the mean rent?

# 1. What kind of information do we have?

In [ ]:
import pandas as pd

url="https://raw.githubusercontent.com/juliandnl/redi_ss20/master/berlin_rental.csv"
berlin_rental=pd.read_csv(url)

In [ ]:
berlin_rental.head()

        Region       Condition  Rooms     Rent  Year_Construction   Space
0        Mitte  first_time_use    4.0  2659.00               2019  117.20
1    Kreuzberg  first_time_use    1.0  1200.00               2020   29.33
2     Köpenick       well_kept    2.0   979.00               1997   83.61
3  Wilmersdorf       well_kept    4.0  1830.22               1900  171.18
4    Kreuzberg  first_time_use    2.0  2272.00               2020   88.27

This is a dataset with 763 apartments of different Regions in Berlin.
It tells us the condition, number of rooms and size of these apartments including their year of construction and the monthly rent.

In [ ]:
berlin_rental[1:]

          Region        Condition  Rooms     Rent  Year_Construction   Space
1      Kreuzberg   first_time_use    1.0  1200.00               2020   29.33
2       Köpenick        well_kept    2.0   979.00               1997   83.61
3    Wilmersdorf        well_kept    4.0  1830.22               1900  171.18
4      Kreuzberg   first_time_use    2.0  2272.00               2020   88.27
5       Köpenick        well_kept    2.0   840.00               1997   73.51
..           ...              ...    ...      ...                ...     ...
759      Wedding   mint_condition    1.0   959.00               2017   27.80
760      Wedding   mint_condition    1.0   649.00               2017   20.50
761  Wilmersdorf   mint_condition    4.0  2750.00               2017  110.00
762     Köpenick        well_kept    2.0  1259.00               2017   91.20
763     Neukölln  fully_renovated    2.0   888.00               1990   68.48

[763 rows x 6 columns]

# 2. In which conditions are the flats?

In [ ]:
berlin_rental["Condition"].unique()

array(['first_time_use', 'well_kept', 'mint_condition', 'no_information',
       'fully_renovated', 'first_time_use_after_refurbishment',
       'refurbished', 'modernized', 'need_of_renovation'], dtype=object)

# 3. Where are the appartments located?

In [ ]:
berlin_rental["Region"].unique()

array(['Mitte', 'Kreuzberg', 'Köpenick', 'Wilmersdorf', 'Charlottenburg',
       'Friedrichsfelde', 'Tiergarten', 'Prenzlauer', 'Wedding',
       'Neukölln'], dtype=object)

In [ ]:
berlin_rental["Region"].value_counts()

Tiergarten         171
Mitte              153
Charlottenburg      79
Neukölln            59
Köpenick            55
Wilmersdorf         53
Prenzlauer          53
Friedrichsfelde     52
Kreuzberg           47
Wedding             42
Name: Region, dtype: int64

# BONUS 4. What is the mean rent?
Have a look at:
- https://stackoverflow.com/questions/31037298/pandas-get-column-average-mean
- https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.mean.html

In [ ]:
#berlin_rental.mean()
berlin_rental["Rent"].mean()

1768.5609424083777

In [ ]:
berlin_rental["Rent"].sum()

1351180.56

In [ ]:
berlin_rental.describe()

            Rooms          Rent  Year_Construction       Space
count  764.000000    764.000000         764.000000  764.000000
mean     2.549738   1768.560942        1983.695026   84.656270
std      1.010826   1118.263961          48.006060   44.195338
min      1.000000    271.250000        1864.000000   14.000000
25%      2.000000   1039.500000        1959.000000   55.097500
50%      2.500000   1565.480000        2015.000000   77.600000
75%      3.000000   2170.000000        2019.000000  104.450000
max      7.000000  14207.000000        2020.000000  413.910000

--- 
# Review

This section is only for the reviewing team!

Guideline how to review:
https://docs.google.com/presentation/d/1YORFwlfVQo9ogj7jR9t6_pqxmGIlpBSGubbp1UdtcBQ/edit?usp=sharing

In [ ]:
#@title Review Criteria:
%%html
<h3><input type="checkbox"> 1. Are all questions answered? <br></h3> 
<h3><input type="checkbox"> 2. Does all code run through? <br></h3> 
<h3><input type="checkbox"> 3. Are the conclusions understandable?  <br></h3> 
<h3><input type="checkbox"> 4. Are the bonus question answered?  <br></h3>

In [ ]:
input("Do you have any feedback?")